{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row g-5 align-items-center" id="row-ristoranti">
            {% for ristorante in rest_objects %}
                <div class="col-md-3" style="margin-bottom: 4%;">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ ristorante.url_img }}" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ ristorante.name }}</h5>
                            <p class="card-text">Email: {{ ristorante.email }} </p>
                            <p class="card-text">Via {{ristorante.address}}, {{ristorante.civic_number}}, {{ristorante.cap}} situato a {{ristorante.city}} </p>
                            <p class="card-text">Numero di telefono: {{ ristorante.number_phone }} </p>
                            <div class="text-center">
                                <form action="{{ url_for('restaurant_specific', rest_object=ristorante.email) }}" method="POST">
                                    <button class="btn btn-primary">Vai al ristorante</button>
                                </form>
                                {% if session['admin'] %}
                                    <hr>
                                    <form action="{{ url_for('delete_from_restaurants', resto_id=ristorante.id) }}" method="POST">
                                        <button class="btn btn-danger">Rimuovi</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}