{% extends 'base.html' %}
{% block content%}

    <div class="container-fluid" style="width: 70%; margin-top: 5%;">
        <div class="row g-5" id="row-ristoranti">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd7c0697-63f5-4f26-8db8-6dad33e98c46/d99sdx3-1fa70bbd-d42d-4bf7-a93b-f14be46c2e7d.jpg/v1/fill/w_800,h_867,q_75,strp/pizza_time_by_ry_spirit_d99sdx3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODY3IiwicGF0aCI6IlwvZlwvZmQ3YzA2OTctNjNmNS00ZjI2LThkYjgtNmRhZDMzZTk4YzQ2XC9kOTlzZHgzLTFmYTcwYmJkLWQ0MmQtNGJmNy1hOTNiLWYxNGJlNDZjMmU3ZC5qcGciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.qq66OFAZN-fR9ZKe0J3IOXnL_GfGTozmkDKjG9jKUZQ" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Toto Sapore</h5>
                        <p class="card-text">Toto Sapore qualiano, sita in via Santa Maria Acubito </p>
                        <a href="#" class="btn btn-primary">Vai al ristorante</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd7c0697-63f5-4f26-8db8-6dad33e98c46/d99sdx3-1fa70bbd-d42d-4bf7-a93b-f14be46c2e7d.jpg/v1/fill/w_800,h_867,q_75,strp/pizza_time_by_ry_spirit_d99sdx3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODY3IiwicGF0aCI6IlwvZlwvZmQ3YzA2OTctNjNmNS00ZjI2LThkYjgtNmRhZDMzZTk4YzQ2XC9kOTlzZHgzLTFmYTcwYmJkLWQ0MmQtNGJmNy1hOTNiLWYxNGJlNDZjMmU3ZC5qcGciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.qq66OFAZN-fR9ZKe0J3IOXnL_GfGTozmkDKjG9jKUZQ" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Donna Luisella</h5>
                        <p class="card-text">Donna Luisella Secondigliano, sita in Corso Italia Secondigliano </p>
                        <a href="#" class="btn btn-primary">Vai al ristorante</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd7c0697-63f5-4f26-8db8-6dad33e98c46/d99sdx3-1fa70bbd-d42d-4bf7-a93b-f14be46c2e7d.jpg/v1/fill/w_800,h_867,q_75,strp/pizza_time_by_ry_spirit_d99sdx3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODY3IiwicGF0aCI6IlwvZlwvZmQ3YzA2OTctNjNmNS00ZjI2LThkYjgtNmRhZDMzZTk4YzQ2XC9kOTlzZHgzLTFmYTcwYmJkLWQ0MmQtNGJmNy1hOTNiLWYxNGJlNDZjMmU3ZC5qcGciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.qq66OFAZN-fR9ZKe0J3IOXnL_GfGTozmkDKjG9jKUZQ" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Black Burger</h5>
                        <p class="card-text">Black Burger situato a Fratta Maggiore </p>
                        <a href="#" class="btn btn-primary">Vai al ristorante</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}