{% extends 'base.html' %}

{% block content %}
    <form class="container sign_in" style="margin-top: 5%; margin-bottom: 3%" method="POST" action="{{ url_for('restaurant') }}">
    {{ form.hidden_tag() }}
        <div class="sign_in_header" style="text-align: center">
          <label class="sign_in_header_h1">
              <h1 class="display-5">Registrati come ristorante con Partita iva, nome, indirizzo, città ed email</h1>
              <hr>
          </label>
        </div>
        <div class="mb-3">
          {{ form.partita_iva.label(class="form-label", for="partita_iva") }}
          {{ form.partita_iva(class="form-control", type="text", placeholder="Partita Iva", id="partiva_iva") }}
        </div>
        <div class="mb-3">
          {{ form.name.label(class="form-label", for="name") }}
          {{ form.name(class="form-control", type="text", placeholder="Nome", id="name") }}
        </div>
        <div class="mb-3">
            {{ form.address.label(clas="form-label", for="address") }}
            {{ form.address(class="form-control", type="text", placeholder="Via", id="address") }}
        </div>
        <div class="mb-3">
            {{ form.civic_number.label(clas="form-label", for="civic_number") }}
            {{ form.civic_number(class="form-control", type="text", placeholder="Numero Civico", id="civic_number") }}
        </div>
        <div class="mb-3">
            {{ form.cap.label(clas="form-label", for="cap") }}
            {{ form.cap(class="form-control", type="text", placeholder="Cap", id="cap") }}
        </div>
        <div class="mb-3">
          {{ form.city.label(class="form-label", for="city") }}
          {{ form.city(class="form-control", type="text", placeholder="Citta", id="city") }}
        </div>
        <div class="mb-3">
          {{ form.email.label(class="form-label", for="email") }}
          {{ form.email(type="email", class="form-control", placeholder="Email", id="email") }}
        <div id="emailHelp" class="form-text">Noi non condivideremo mai la tua email con qualcun'altro.</div>
        </div>
        <div class="mb-3">
            {{ form.url_img.label(clas="form-label", for="url_img") }}
            {{ form.url_img(class="form-control", type="text", placeholder="URL Foto", id="url_img") }}
        </div>
        <div class="mb-3">
          {{ form.number_phone.label(class="form-label", for="number_phone") }}
          {{ form.number_phone(class="form-control", type="text", placeholder="Numero", id="number_phone") }}
        </div>
          <button type="submit" class="btn btn-outline-primary">Registrati</button>
    </form>


{% endblock %}