{% extends 'base.html' %}

{% block content %}

    <form class="container sign_in" id="sign_in_form" style="margin-top: 10%; margin-bottom: 3%" method="POST" action="{{ url_for('login_sign_in') }}">
    {{ form.hidden_tag() }}
          <div class="sign_in_header" style="text-align: center">
              <label class="sign_in_header_h1">
                  <h1 class="display-5">Inserisci la tua Email e la Password.</h1>
                  <hr>
              </label>
          </div>
          <div class="mb-3">
              {{ form.email.label(class="form-label", for="email") }}
              {{ form.email(class="form-control", id="email", placeholder="Email", type="email") }}
          </div>
          <div class="mb-3">
              {{ form.password.label(class="form-label", for="password") }}
              {{ form.password(type="password", class="form-control", placeholder="Password", id="password") }}
          </div>
          <button type="submit" class="btn btn-outline-primary">Accedi</button>
     </form>

{% endblock %}
