{% extends 'base.html' %}

{% block content %}

    <form class="container sign_in" style="margin-bottom: 3%" method="POST" action="{{ url_for('login_sign_up') }}">
    {{ form.hidden_tag() }}
          <div class="sign_in_header" style="text-align: center">
              <label class="sign_in_header_h1">
                  <h1 class="display-5">Registrati inserendo il tuo nome, cognome, email e password.</h1>
                  <hr>
              </label>
          </div>
          <div class="mb-3">
              {{ form.name.label(class="form-label", for="name") }}
              {{ form.name(class="form-control", type="text", placeholder="Nome", id="name") }}
          </div>
          <div class="mb-3">
              {{ form.surname.label(class="form-label", for="surname") }}
              {{ form.surname(class="form-control", type="text", placeholder="Cognome", id="surname") }}
          </div>
          <div class="mb-3">
              {{ form.email.label(class="form-label", for="email") }}
              {{ form.email(type="email", class="form-control", placeholder="Email", id="email") }}
          <div id="emailHelp" class="form-text">Noi non condivideremo mai la tua email con qualcun'altro.</div>
          </div>
          <div class="mb-3">
            {{ form.password.label(class="form-label", for="password") }}
            {{ form.password(type="password", id="password", placeholder="Password", class="form-control") }}
          <div id="passwordHelpBlock" class="form-text">
                La tua password deve contenere dagli 8-20 caratteri lunghi, contenere lettere e numeri, e non deve contenere spazi, caratteri speciali o emoji.
          </div>
          </div>
          <button type="submit" class="btn btn-outline-primary">Registrati</button>
     </form>


{% endblock %}